# Read this, and this seemed the best solution. Tried many others
# https://levelup.gitconnected.com/how-to-fix-the-npm-conflicting-peer-dependency-error-fe5527f629a4

# Tried these:
# https://medium.com/@fael.atom/struggling-with-vite-and-mui-42f3f5e0658d
# https://stackoverflow.com/questions/71835697/create-react-app-dependency-version-issues-with-react-18

legacy-peer-deps=true
